body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body {
  background-image: url('/static/img/grey_wash_wall.png');
}
article {
  display: inline;
  float: left;
  width: 98.75%;
  margin: 0 0.625%;
}
article form {
  background-color: white;
}
article ul {
  display: block;
  width: 101.25%;
  margin: 0 -0.625%;
  *zoom: 1;
}
article ul:before,
article ul:after {
  content: "";
  display: table;
}
article ul:after {
  clear: both;
}
article ul li {
  display: inline;
  float: left;
  width: 18.75%;
  margin: 0 0.625%;
  margin-bottom: 5px;
  margin-top: 3px;
  background-color: white;
  border-radius: 2px;
  background-image: url('/static/img/paper_fibers.png');
}
article ul li p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  margin-bottom: 3px;
}
article ul li label {
  font-weight: bold;
}
article ul li label p {
  font-weight: normal;
}
article ul li img {
  max-width: 100%;
  max-height:20px;
}
form button {
  width: 100%;
}
form.hidden {
  display: inline-block;
  width: 50%;
}
form.hidden button {
  width: 100%;
}
header {
  display: inline;
  float: left;
  width: 98.75%;
  margin: 0 0.625%;
  background-color: black;
}
header ul {
  display: block;
  width: 101.25%;
  margin: 0 -0.625%;
  *zoom: 1;
}
header ul:before,
header ul:after {
  content: "";
  display: table;
}
header ul:after {
  clear: both;
}
header ul li {
  display: inline;
  float: left;
  width: 8.75%;
  margin: 0 0.625%;
}
@media screen and (max-width: 1000px) {
  body {
    font-size: 300%;
  }
  article ul li {
    display: inline;
    float: left;
    width: 98.75%;
    margin: 0 0.625%;
    margin-top: 30px;
  }
  header ul li {
    display: inline;
    float: left;
    width: 98.75%;
    margin: 0 0.625%;
  }
}
